#product-sections {
    /*aca dejemoslo vacio por el momento*/
}

.section {

    background-color: rgba(170, 170, 170, 1);
}
.section-title-container {
    padding: 15px;
    background-color: rgba(59, 68, 75, 1);
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;

}
.section-title {

}

.products-container {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    background-color: rgba(170, 170, 170, 1);
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.product-card {
    background-color: rgba(59, 68, 75, 1);
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 300px;

}

.product-card img {
    max-width: 100%;
    border-radius: 10px;
}

.product-card button {
    align-self: center;
    background-color: #fff;
    color: #333;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.product-card-tittle{
    font-weight: bold;
    font-size: 25px;
    padding-top: 5px;
    color: white;
}
.product-card-subtittle{
    font-weight: bold;
    font-size: 15px;
    padding-top: 0px;
}
.product-card-text{
    font-size: 15px;
}